<%= '' %>
<div id="idMyConfigDlg" >
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <span style="font-size: 16; font-weight: bold; color: #ffffff;  ">Configurazione</span>
    </div>
    <form id="frmConfigure">
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="server" style="width: 90%;" type="text" placeholder="Server">
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="timeout" type="number" placeholder="Timeout">
        </div>
        <button style="margin: 6px; float: right;" class="btn" type="submit" >&nbsp;Ok&nbsp;</button>
        <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
    </form>
</div>