<%= '' %>
<div id="myPositionDlg">
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <h4>Punti di interesse personali</h4>
    </div>
    <form id="frmPosition">
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="descrizione" type="text" placeholder="Descrizione">
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="latitude" type="text" placeholder="Latitudine">
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="logitude" type="text" placeholder="Longitudine">
        </div>
        <button style="margin: 6px; float: right;" class="btn" type="submit" >Salva</button>
        <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
    </form>
</div>