<%= '' %>
<div id="myRegisterDlg" >
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <h3 id="regtitle">Registrazione</h3>
    </div>
    <form id="frmRegister">
        <div style="margin: 2px; margin-left: 12px;" class="clearfix">
            <input id="username" type="text" placeholder="Username">&nbsp;
            <input id="password" type="password" placeholder="Password">
        </div>
        <div style="margin: 2px; margin-left: 12px;" class="clearfix">
            <input id="name" type="text" placeholder="Nome">&nbsp;
            <input id="surname" type="text" placeholder="Cognome">
        </div>
        <div style="margin: 2px; margin-left: 12px;" class="clearfix">
            <input id="email" type="text" placeholder="Email">&nbsp;
            <input id="emailConfirm" type="text" placeholder="Conferma Email">
        </div>
        <div style="margin: 2px; margin-left: 12px;" class="clearfix inline">
            <label class="control-label" style="display:inline; text-align: center" for="birthDate">Data nascita: </label>&nbsp;
            <input id="birthDate" type="date" placeholder="Data nascita">
        </div>
        <button style="margin: 6px; float: right;" class="btn" type="submit" >Ok</button>
        <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
    </form>
</div>