<%= '' %>
<div id="myLoginDlg">
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <h3>Login</h3>
    </div>
    <form id="frmLogin">
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="username" type="text" placeholder="Username">
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="password" type="password" placeholder="Password">
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            Ricordami :&nbsp;
             <input id="remind" style="margin: -4px 0 0;" type="checkbox" checked="checked">
        </div>
        <button id="register" style="margin: 6px; " class="btn" type="button">Registrati</button>
        <button id="pwdReset" style="margin: 6px; " class="btn" type="button">Pass. dimenticata</button>
        <p>
            <button style="margin: 6px; float: right;" class="btn" type="submit" >Login</button>
            <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
        </p>
    </form>
</div>