<%= '' %>
<div id="myLogOutDlg">
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <h3>Logout</h3>
    </div>
    <form id="frmLogout">
        <div style="margin: 6px; margin-left: 32px;" class="clearfix">
            Conferma la sconnessione dal sistema
        </div>
        <button style="margin: 6px; float: right;" class="btn" type="submit" >Logout</button>
        <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
    </form>
</div>