<%= '' %>
<div id="myRestPwdDlg" >
    <div style="text-align: center; border-top-left-radius: 7px; border-top-right-radius: 7px; color: #ffffff; background-color:#7c7c7c;">
        <h3>Password dimenticata</h3>
    </div>
    <form id="frmResetPwd">
        <div style="margin: 6px; margin-left: 32px;" class="clearfix">
            Conferma la richiesta di reset della password
        </div>
        <div style="margin: 6px; margin-left: 12px;" class="clearfix">
            <input id="email" type="text" placeholder="Email">&nbsp;
        </div>
        <button style="margin: 6px; float: right;" class="btn" type="submit" >&nbsp;Ok&nbsp;</button>
        <button style="margin: 6px; float: right;" class="btn" type="reset" >Cancel</button>
    </form>
</div>